// fonts
$base-font: "Euclid Circular", "Arial", sans-serif;

// variables
$orange: #ea572a;
$violet: #6e4b9c;
$blue: #2963eb;
$sky: #7cb4ff;
$mint: #72ca97;
$error: #d63c32;
$grey: #88919d;
$grey-light: #efefef;
$accept:#50b85a;
$blue-hovered: #4376ed;
$blue-active: #87a8f4;


