// fonts
$base-font: "Euclid Circular", "Arial", sans-serif;

// variables
$orange: #ea572a;
$violet: #6e4b9c;
$blue: #2963eb;
$sky: #7cb4ff;
$mint: #72ca97;
$error: #d63c32;
$grey: #88919d;
$base-dark: #23252d;
$grey-light: #efefef;
$base-white: #fff;
$accept:#50b85a;
$silver: #828a9c;
// hovers, active
$blue-hovered: #4376ed;
$blue-active: #87a8f4;
$black-100: #4e4e4e;
$black-300: #555;
$black-400: #333;
$black-600: #222;
$black-900: #111;
$base-500: #9197a6;
